{% extends "base.html" %}

{% block username %}
{{ user }}
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-info">Predict a Vehicle price</h3>
    <br>

    <form action="#" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label>Model Name : </label>
          {{ form.model }}
        </div>
        <div class="form-group">
          <label>Brand Name : </label>
          {{ form.brand }}
        </div>

          <div class="form-group">
          <label>Fuel Type : </label>
          {{ form.fuel_type }}
        </div>

        <div class="form-group">
          <label>KIlometers : </label>
          {{ form.kilometers }}
        </div>

        <br>
        <div class="form-group">
          <input type="submit" class="btn btn-primary " value="Predict price">
        </div>

        {% if message != "" %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% endif %}

      </form>


</div>
{% endblock %}